/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
body {
  width: 75%;
  margin: auto;
}

section {
  border: 3px solid lightgray;
  margin-bottom: 20px;
}

img {
  margin-top: 20px;
  width: 100%;
}

input {
  margin-bottom: 10px;
}

div .correct {
  background-color: lightgreen;
}

div .incorrect.selected-answer {
  background-color: salmon;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}



@media screen and (min-width: 600px) {
  body {
    width: 50%;
  }

}